In [71]:
from sklearn.preprocessing import MultiLabelBinarizer, OneHotEncoder, LabelEncoder
from sklearn.multiclass import OneVsRestClassifier 
from sklearn.svm import LinearSVC
from sklearn.cross_validation import train_test_split

from patsy import dmatrices, dmatrix
from pandas import *

In [3]:
ls

crime.Rproj                     test.csv.zip
crime_exploratory_analysis.Rmd  train.csv
sampleSubmission.csv            train.csv.zip
sampleSubmission.csv.zip        train_model.ipynb
test.csv

In [4]:
train = read_csv('train.csv')
test = read_csv('test.csv')

In [43]:
train.describe(include='all')

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Category_enc
count,878049,878049,878049,878049,878049,878049,878049,878049.000000,878049.000000,878049.000000
unique,389257,39,879,7,10,17,23228,NaN,NaN,NaN
top,2011-01-01 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,SOUTHERN,NONE,800 Block of BRYANT ST,NaN,NaN,NaN
freq,185,174900,60022,133734,157182,526790,26533,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.422616,37.771020,19.338687
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.030354,0.456893,10.688637
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.513642,37.707879,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.432952,37.752427,16.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.416420,37.775421,20.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.406959,37.784369,25.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-120.500000,90.000000,38.000000

In [44]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Category_enc
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,37
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,21
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,21
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,16
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,16

In [47]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

##Train-Calibration Split

In [74]:
train_, cal = train_test_split(train, train_size = 0.3)

In [75]:
y_train, X_train = dmatrices('Category ~ DayOfWeek + PdDistrict + X + Y', train_)

In [78]:
y_train.ravel().shape

(10273146,)