In [75]:
from pandas import *
import numpy as np
from datetime import datetime, timedelta

In [22]:
# load data
# users <- read.csv('user_list.csv')
users = read_csv('user_list.csv', parse_dates=[0])

# lists
lists_train = read_csv('coupon_list_train.csv')
lists_test = read_csv('coupon_list_test.csv')

# coupon detail
coupon_detail_train = read_csv('coupon_detail_train.csv')

# area
area_train = read_csv('coupon_area_train.csv')
area_test = read_csv('coupon_area_test.csv')

# visit
visit_train = read_csv('coupon_visit_train.csv')

In [35]:
TODAY = to_datetime('2012-06-24')

In [5]:
users.head().T

In [30]:
lists_train.COUPON_ID_hash.unique().shape

(19413,)

In [28]:
merge(area_train, lists_train, on='COUPON_ID_hash').describe()

,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPPERIOD,VALIDPERIOD,USABLE_DATE_MON,USABLE_DATE_TUE,USABLE_DATE_WED,USABLE_DATE_THU,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY
count,138185.000000,138185.000000,138185.000000,138185.000000,47433.000000,36137.000000,36137.000000,36137.000000,36137.000000,36137.000000,36137.000000,36137.000000,36137.000000,36137.000000
mean,59.052227,13168.128596,4614.457452,2.986627,112.710033,0.966240,0.976506,0.987354,0.986247,1.029582,1.212303,0.983756,0.982262,1.159421
std,11.754754,19271.179676,6139.721033,1.106169,53.015968,0.250017,0.252125,0.201913,0.197124,0.317702,0.678573,0.375805,0.394632,0.656252
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,3190.000000,1380.000000,2.000000,76.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,54.000000,5725.000000,2240.000000,3.000000,115.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,67.000000,13650.000000,4800.000000,4.000000,165.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
max,100.000000,680000.000000,100000.000000,36.000000,179.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [23]:
area_train.head().T

,0,1,2,3,4
SMALL_AREA_NAME,埼玉,千葉,千葉,千葉,千葉
PREF_NAME,埼玉県,千葉県,千葉県,千葉県,千葉県
COUPON_ID_hash,6b263844241eea98c5a97f1335ea82af,cc031f250e8bad1e24060263b9fc0ddd,ba5e9b7453ca52ff711635a5d2e8102d,3e1ffbedca3569f9e8032d401e8cb4e6,782934b6c815b4030ea204eef7d4a734

In [31]:
area_train.describe()

       SMALL_AREA_NAME PREF_NAME                    COUPON_ID_hash
count           138185    138185                            138185
unique              55        47                             19368
top                 キタ       東京都  d0e1b63cb7cc32edc3a6c619e4215368
freq              3596     19720                                55

In [20]:
lists_train.head().T

,0,1,2,3,4
CAPSULE_TEXT,グルメ,グルメ,グルメ,グルメ,グルメ
GENRE_NAME,グルメ,グルメ,グルメ,グルメ,グルメ
PRICE_RATE,50,51,50,50,50
CATALOG_PRICE,3000,2080,7000,3000,2000
DISCOUNT_PRICE,1500,1000,3500,1500,1000
DISPFROM,2011-07-08 12:00:00,2011-07-01 12:00:00,2011-07-12 12:00:00,2011-07-09 12:00:00,2011-07-05 12:00:00
DISPEND,2011-07-09 12:00:00,2011-07-02 12:00:00,2011-07-15 12:00:00,2011-07-11 12:00:00,2011-07-06 12:00:00
DISPPERIOD,1,1,3,2,1
VALIDFROM,2011-07-10,2011-07-03,2011-07-16,2011-07-12,2011-07-07
VALIDEND,2011-12-08,2011-12-04,2012-01-11,2011-12-01,2011-12-30
VALIDPERIOD,151,154,179,142,176
USABLE_DATE_MON,1,1,0,1,1
USABLE_DATE_TUE,1,1,1,1,1
USABLE_DATE_WED,1,1,1,1,0
USABLE_DATE_THU,1,1,1,1,1
USABLE_DATE_FRI,0,1,1,0,0
USABLE_DATE_SAT,0,1,1,0,0
USABLE_DATE_SUN,1,1,1,1,1
USABLE_DATE_HOLIDAY,1,1,1,1,1
USABLE_DATE_BEFORE_HOLIDAY,0,1,1,1,0
large_area_name,関東,関東,関東,関東,関東
ken_name,埼玉県,千葉県,千葉県,千葉県,千葉県
small_area_name,埼玉,千葉,千葉,千葉,千葉
COUPON_ID_hash,6b263844241eea98c5a97f1335ea82af,cc031f250e8bad1e24060263b9fc0ddd,ba5e9b7453ca52ff711635a5d2e8102d,3e1ffbedca3569f9e8032d401e8cb4e6,782934b6c815b4030ea204eef7d4a734

In [74]:
lists_train.describe().T

,count,mean,std,min,25%,50%,75%,max
PRICE_RATE,19413,58.478391,11.266571,0,50,53,65,100
CATALOG_PRICE,19413,11818.368258,16881.898880,1,3675,6500,13650,680000
DISCOUNT_PRICE,19413,4332.877659,5459.667448,0,1550,2750,4800,100000
DISPPERIOD,19413,3.166950,1.346859,0,2,3,4,36
VALIDPERIOD,13266,125.955902,46.599249,0,89,128,177,179
USABLE_DATE_MON,12408,0.936009,0.309854,0,1,1,1,2
USABLE_DATE_TUE,12408,0.953901,0.314045,0,1,1,1,2
USABLE_DATE_WED,12408,0.982189,0.217525,0,1,1,1,2
USABLE_DATE_THU,12408,0.981867,0.198105,0,1,1,1,2
USABLE_DATE_FRI,12408,1.000242,0.319562,0,1,1,1,2
USABLE_DATE_SAT,12408,1.067618,0.563260,0,1,1,1,2
USABLE_DATE_SUN,12408,0.921422,0.424181,0,1,1,1,2
USABLE_DATE_HOLIDAY,12408,0.938024,0.399619,0,1,1,1,2
USABLE_DATE_BEFORE_HOLIDAY,12408,1.044246,0.534511,0,1,1,1,2

In [76]:
# normalize features
num_vars = [
    'PRICE_RATE',
    'CATALOG_PRICE',
    'DISPPERIOD',
    'VALIDPERIOD',
]
bin_vars = [
    'USABLE_DATE_MON',
    'USABLE_DATE_TUE',
    'USABLE_DATE_WED',
    'USABLE_DATE_THU',
    'USABLE_DATE_FRI',
    'USABLE_DATE_SAT',
    'USABLE_DATE_SUN',
    'USABLE_DATE_HOLIDAY',
    'USABLE_DATE_BEFORE_HOLIDAY',
]
for var in num_vars:
    lists_train[var + '_norm'] = lists_train[var].astype(float) / np.std(lists_train[var])

In [77]:
lists_train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CAPSULE_TEXT,19413,25,宅配,5841,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GENRE_NAME,19413,13,宅配,5841,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRICE_RATE,19413,NaN,NaN,NaN,58.47839,11.26657,0,50,53,65,100
CATALOG_PRICE,19413,NaN,NaN,NaN,11818.37,16881.9,1,3675,6500,13650,680000
DISCOUNT_PRICE,19413,NaN,NaN,NaN,4332.878,5459.667,0,1550,2750,4800,100000
DISPFROM,19413,378,2011-12-20 12:00:00,128,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DISPEND,19413,373,2011-07-19 12:00:00,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DISPPERIOD,19413,NaN,NaN,NaN,3.16695,1.346859,0,2,3,4,36
VALIDFROM,13266,376,2012-04-01,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VALIDEND,13266,514,2012-02-29,567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VALIDPERIOD,13266,NaN,NaN,NaN,125.9559,46.59925,0,89,128,177,179
USABLE_DATE_MON,12408,NaN,NaN,NaN,0.936009,0.3098542,0,1,1,1,2
USABLE_DATE_TUE,12408,NaN,NaN,NaN,0.9539007,0.314045,0,1,1,1,2
USABLE_DATE_WED,12408,NaN,NaN,NaN,0.9821889,0.217525,0,1,1,1,2
USABLE_DATE_THU,12408,NaN,NaN,NaN,0.9818665,0.198105,0,1,1,1,2
USABLE_DATE_FRI,12408,NaN,NaN,NaN,1.000242,0.3195618,0,1,1,1,2
USABLE_DATE_SAT,12408,NaN,NaN,NaN,1.067618,0.5632601,0,1,1,1,2
USABLE_DATE_SUN,12408,NaN,NaN,NaN,0.9214217,0.4241811,0,1,1,1,2
USABLE_DATE_HOLIDAY,12408,NaN,NaN,NaN,0.9380239,0.399619,0,1,1,1,2
USABLE_DATE_BEFORE_HOLIDAY,12408,NaN,NaN,NaN,1.044246,0.5345113,0,1,1,1,2
large_area_name,19413,9,関東,9503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ken_name,19413,47,東京都,6775,NaN,NaN,NaN,NaN,NaN,NaN,NaN
small_area_name,19413,55,銀座・新橋・東京・上野,2325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUPON_ID_hash,19413,19413,e774684c322da1470b4b9d5e859ff619,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRICE_RATE_norm,19413,NaN,NaN,NaN,5.190568,1.000026,0,4.438022,4.704303,5.769428,8.876044
CATALOG_PRICE_norm,19413,NaN,NaN,NaN,0.7000796,1.000026,5.923657e-05,0.2176944,0.3850377,0.8085792,40.28087
DISPPERIOD_norm,19413,NaN,NaN,NaN,2.351421,1.000026,0,1.484975,2.227463,2.96995,26.72955
VALIDPERIOD_norm,13266,NaN,NaN,NaN,2.703062,1.000038,0,1.909974,2.746929,3.798488,3.841408

In [11]:
visit_train.head().T

,0,1,2,3,4
PURCHASE_FLG,0,0,0,0,0
I_DATE,2012-03-28 14:15:00,2012-03-28 14:17:28,2012-03-28 14:20:05,2012-03-28 14:23:16,2012-03-28 14:26:25
PAGE_SERIAL,7,9,16,18,20
REFERRER_hash,7d3892e54acb559ae36c459978489330,7d3892e54acb559ae36c459978489330,7d3892e54acb559ae36c459978489330,7d3892e54acb559ae36c459978489330,7d3892e54acb559ae36c459978489330
VIEW_COUPON_ID_hash,34c48f84026e08355dc3bd19b427f09a,34c48f84026e08355dc3bd19b427f09a,17c450c3b470c045d35ec22b02daa690,91a15e6a95d09e5e01b50747833b317d,96fcbc8f6e45d5a2de1661eb140c6e82
USER_ID_hash,d9dca3cb44bab12ba313eaa681f663eb,d9dca3cb44bab12ba313eaa681f663eb,d9dca3cb44bab12ba313eaa681f663eb,d9dca3cb44bab12ba313eaa681f663eb,d9dca3cb44bab12ba313eaa681f663eb
SESSION_ID_hash,673af822615593249e7c6a9a1a6bbb1a,673af822615593249e7c6a9a1a6bbb1a,673af822615593249e7c6a9a1a6bbb1a,673af822615593249e7c6a9a1a6bbb1a,673af822615593249e7c6a9a1a6bbb1a
PURCHASEID_hash,NaN,NaN,NaN,NaN,NaN

In [18]:
coupon_detail_train.head().T

,0,1,2,3,4
ITEM_COUNT,1,1,1,1,1
I_DATE,2012-03-28 15:06:06,2011-07-04 23:52:54,2011-07-16 00:52:49,2011-07-16 00:54:53,2011-07-16 00:55:52
SMALL_AREA_NAME,兵庫,銀座・新橋・東京・上野,恵比寿・目黒・品川,恵比寿・目黒・品川,恵比寿・目黒・品川
PURCHASEID_hash,c820a8882374a4e472f0984a8825893f,1b4eb2435421ede98c8931c42e8220ec,36b5f9ba46c44b65587d0b16f2e4c77f,2f30f46937cc9004774e576914b2aa1a,4d000c64a55ac573d0ae1a8f03677f50
USER_ID_hash,d9dca3cb44bab12ba313eaa681f663eb,560574a339f1b25e57b0221e486907ed,560574a339f1b25e57b0221e486907ed,560574a339f1b25e57b0221e486907ed,560574a339f1b25e57b0221e486907ed
COUPON_ID_hash,34c48f84026e08355dc3bd19b427f09a,767673b7a777854a92b73b0934ddfae7,4f3b5b91d9831192557c056022fdc1f2,4f3b5b91d9831192557c056022fdc1f2,4f3b5b91d9831192557c056022fdc1f2

In [32]:
lists_test.head().T

,0,1,2,3,4
CAPSULE_TEXT,グルメ,グルメ,グルメ,グルメ,グルメ
GENRE_NAME,グルメ,グルメ,グルメ,グルメ,グルメ
PRICE_RATE,52,52,51,50,56
CATALOG_PRICE,5659,18000,7200,3300,3650
DISCOUNT_PRICE,2690,8500,3480,1650,1600
DISPFROM,2012-06-26 12:00:00,2012-06-27 12:00:00,2012-06-28 12:00:00,2012-06-24 12:00:00,2012-06-26 12:00:00
DISPEND,2012-06-30 12:00:00,2012-07-04 12:00:00,2012-07-05 12:00:00,2012-06-29 12:00:00,2012-07-03 12:00:00
DISPPERIOD,4,7,7,5,7
VALIDFROM,2012-07-01,2012-07-05,2012-07-06,2012-06-30,2012-07-04
VALIDEND,2012-10-27,2012-10-13,2012-12-28,2012-10-31,2012-11-10
VALIDPERIOD,118,100,175,123,129
USABLE_DATE_MON,1,1,1,1,1
USABLE_DATE_TUE,1,1,1,1,1
USABLE_DATE_WED,1,1,1,1,1
USABLE_DATE_THU,1,1,1,1,1
USABLE_DATE_FRI,1,1,1,2,1
USABLE_DATE_SAT,1,1,1,2,1
USABLE_DATE_SUN,1,0,1,1,1
USABLE_DATE_HOLIDAY,1,0,1,1,1
USABLE_DATE_BEFORE_HOLIDAY,1,1,1,2,1
large_area_name,関西,関東,関東,関西,東海
ken_name,大阪府,東京都,神奈川県,兵庫県,愛知県
small_area_name,ミナミ他,銀座・新橋・東京・上野,横浜,兵庫,愛知
COUPON_ID_hash,c76ea297ebd3a5a4d3bf9f75269f66fa,dd74dc95ca294afa02db40a543ae1763,c65b550cbef918796ad53b1d5b7165c1,f93dc6e223935d817e1237f8f73b56a2,86c64391318f1d751647bf8e1882cf1d

In [16]:
visit_train.groupby('USER_ID_hash')['PURCHASE_FLG'].sum()

USER_ID_hash
0000b53e182165208887ba65c079fc21     1
00035b86e6884589ec8d28fbf2fe7757     1
0005b1068d5f2b8f2a7c978fcfe1ca06     1
000cc06982785a19e2a2fdb40b1c9d59    20
0013518e41c416cd6a181d277dd8ca0b     4
001acdee812a18acfd7509172bed5700    12
001fd7876e3aa29393537c6baf308e43     1
002383753c1e5d6305c8aff6f89e26d6     0
0025cae7997d25ea5cf8851bb099c798     1
002822059a01d895fad84f2f2ff5c1f1     2
002ae30377cd30f65652e52618e8b2d6     4
002b08971471e6083dd716f6c3bb6572     3
002bbdd51b2a042c051c66c43b55439a     4
002f5c29fdf99b4115bf4a93c9241d19     0
003a7b4941222b7e507fdc9e95de2cc1     7
003e02424d0a6ec3ee80d231939fac7c     4
0042fc64a751d0b98e9148e3c366d319     3
00441c9b51cfe60b82bdf7a20ad79fc8    14
00454d0ad87f2e423cc3cc201fde8c8c     1
0047658498c5026a2bfa33b6f0573766     6
0047a9d43268c7cddf4a874c3dbb6f9f     2
004c5867575223ca7d7d3de4e8e1e23a     3
004d75de304e67612ec60e675af66839    13
004e1508270f3c9a0eb3cdfe89470c12     1
004e3f8a3635f9a0144771feaf8a1e32     2
004f67d329e3e56adef98c9aa8074e97     1
004f6fe912f2fa81036a47204eb69451     1
0051705e1aedf39d6c3019ef7a71d480    22
00563f5737892fc2f75f70bf794f4b43     1
0057e72575079113710648ae0f726d97     0
                                    ..
ffb4cb9419b6f156a2b26252aa0132ae    17
ffb5c3ae7d5725689c74caebd44a8a62    16
ffb688037381369f52268077d3941123    12
ffb98d47f0b6bbf06cb1331e90a55179     3
ffba61b78f71f7071830adba316031c2     0
ffbd0b34af16015bebe4dfa99ab66621     2
ffbd648c50a96cc493e960805b3bd30f     4
ffbe59c00a8949be5ecc5f1ed871eae0     2
ffc1ebba501d00aca267ce914e9e3110    57
ffc76df6fa752ce7b49bb0ea4c97396d     0
ffc7d9a1cf343d1246c047b6c1984454     0
ffc9da5c3d1f082c50a120fe2be90913     1
ffca89ec6ac84029fe7448e4e1c1adf6     1
ffcd4d5b3682b27845c80ffc16c8c08b    28
ffd5c4f2a415910b2bb96c0c68a1fcdd     0
ffd6f660f3688968efa198ee888b1443     3
ffd96bf2eb13fb10a2a5b3ed09f05f7b    10
ffda28af997f586147eb23d612894e56     6
ffdf3421c09fe158686523cea5e8ac39     1
ffe3e44dab6fd47bd9c02782640c4d4a     9
ffe65332382f1f264d84fa85a44f564c     3
ffe7362865b91c287affaf8912ef4750     2
ffecfec48a5778f3e470d8a4fb804723     0
ffed1129803b26815be16d5531a27250     0
fff193f946ae515d405376cdf7895f78     5
fff1a623187cefd7a594e338709b0f40     8
fff4a076cfda6ff9dbe85e1cb678791b    15
fff970d2014c3e10a77e38d540239017     4
fffafc024e264d5d539813444cf61199     2
ffff56dbf3c782c3532f88c6c79817ba     1
Name: PURCHASE_FLG, dtype: int64

In [33]:
users

,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash
0,2012-03-28 14:14:18,f,25,NaN,NaN,d9dca3cb44bab12ba313eaa681f663eb
1,2011-05-18 00:41:48,f,34,NaN,東京都,560574a339f1b25e57b0221e486907ed
2,2011-06-13 16:36:58,m,41,NaN,愛知県,e66ae91b978b3229f8fd858c80615b73
3,2012-02-08 12:56:15,m,25,NaN,NaN,43fc18f32eafb05713ec02935e2c2825
4,2011-05-22 23:43:56,m,62,NaN,神奈川県,dc6df8aa860f8db0d710ce9d4839840f

In [39]:
visit_train[visit_train.USER_ID_hash=='43fc18f32eafb05713ec02935e2c2825'].T

,144,145,146,147,148,149
PURCHASE_FLG,1,0,0,0,1,1
I_DATE,2012-02-08 13:04:08,2012-02-16 08:49:47,2012-02-16 08:50:31,2012-02-16 08:51:23,2012-05-21 19:41:47,2012-06-04 21:39:47
PAGE_SERIAL,7,1,2,3,1,1
REFERRER_hash,6c5616ced18d79fa5a97c5c8f3e65f8f,7d3892e54acb559ae36c459978489330,489518eb695dc45f26c4d2c517f2fcc6,7cb13d71dd30cc3dff3eea5d2cd62db1,6c5616ced18d79fa5a97c5c8f3e65f8f,6c5616ced18d79fa5a97c5c8f3e65f8f
VIEW_COUPON_ID_hash,e1d91d56d2a86d4cbe08e155497ad8f6,64217aa2be584347f718d9924408815b,f5aea01c6d356b73f754a1f49a259eb1,02068f7b574e4113f013e1deba2d2e71,bf69bd9e0e26fa1f62243d1fcada38f1,09411858ae07c0be91aeeddacf4556b4
USER_ID_hash,43fc18f32eafb05713ec02935e2c2825,43fc18f32eafb05713ec02935e2c2825,43fc18f32eafb05713ec02935e2c2825,43fc18f32eafb05713ec02935e2c2825,43fc18f32eafb05713ec02935e2c2825,43fc18f32eafb05713ec02935e2c2825
SESSION_ID_hash,96afa4d53ea91a9b087dcb61ccfc3a40,0d73ce61cee710cd9d9c11f7226365ce,0d73ce61cee710cd9d9c11f7226365ce,0d73ce61cee710cd9d9c11f7226365ce,95457399ce54b41f92e0ce12d6e1de57,eb5ecfb668ea1776a96c202eb2e7a23f
PURCHASEID_hash,d88f6ab0f9b8d737c74e1e39e67045b8,NaN,NaN,NaN,e47445e2f58d7e9c052aa05a75bf3cdd,0325b7df2461cc47c4a46c2eb6e73dae

In [66]:
visit_train_merged = merge(
    left=visit_train,
    right=coupon_detail_train.drop(['USER_ID_hash','I_DATE'], axis=1),
    on='PURCHASEID_hash',
    how='left',
)

visit_train_merged = merge(
    left=visit_train_merged,
    right=lists_train,
    on='COUPON_ID_hash',
    how='left',
)

visit_train_merged = merge(
    left=visit_train_merged,
    right=users,
    on='USER_ID_hash',
    how='left',
)

In [67]:
visit_train_merged[visit_train_merged.PURCHASE_FLG==1].head().T

,11,21,40,42,53
PURCHASE_FLG,1,1,1,1,1
I_DATE,2012-03-28 15:06:11,2012-01-15 20:54:04,2012-03-13 00:29:25,2012-03-31 01:31:17,2012-04-05 09:21:29
PAGE_SERIAL,45,18,12,9,9
REFERRER_hash,878034ded0ee2297d7ce27c5169e8584,6c5616ced18d79fa5a97c5c8f3e65f8f,6c5616ced18d79fa5a97c5c8f3e65f8f,6c5616ced18d79fa5a97c5c8f3e65f8f,6c5616ced18d79fa5a97c5c8f3e65f8f
VIEW_COUPON_ID_hash,34c48f84026e08355dc3bd19b427f09a,3e7d148d632f7ee123504e37d3ee9c66,34ea3cc1cf4ec57f3547c5fcd4de3abe,129a696dac8e7eb0903f02ae217c636e,716abc8dcbfee15cf79e7c25c77a2456
USER_ID_hash,d9dca3cb44bab12ba313eaa681f663eb,560574a339f1b25e57b0221e486907ed,560574a339f1b25e57b0221e486907ed,560574a339f1b25e57b0221e486907ed,560574a339f1b25e57b0221e486907ed
SESSION_ID_hash,673af822615593249e7c6a9a1a6bbb1a,5667017ad3ef436680e9b2132de464f1,47cf01d9620c1ae51b84763ebde26977,d34b2bc9c0466b4d975adc3a803d1b64,9ec56c4c913d890c58bdb480be42291c
PURCHASEID_hash,c820a8882374a4e472f0984a8825893f,231e87e928a48403a92783780010aef9,6f0b1da67d70392cbd8fb40740371a76,c80173987b3515b63b90617aad48a4d3,d3ce3a8259e6755971616fb853e2f23a
ITEM_COUNT,1,2,2,1,1
SMALL_AREA_NAME,兵庫,渋谷・青山・自由が丘,銀座・新橋・東京・上野,渋谷・青山・自由が丘,新宿・高田馬場・中野・吉祥寺
COUPON_ID_hash,34c48f84026e08355dc3bd19b427f09a,3e7d148d632f7ee123504e37d3ee9c66,34ea3cc1cf4ec57f3547c5fcd4de3abe,129a696dac8e7eb0903f02ae217c636e,716abc8dcbfee15cf79e7c25c77a2456
CAPSULE_TEXT,宅配,グルメ,グルメ,グルメ,ヘアサロン
GENRE_NAME,宅配,グルメ,グルメ,グルメ,ヘアサロン
PRICE_RATE,78,62,50,50,66
CATALOG_PRICE,7200,12000,3120,750,11500
DISCOUNT_PRICE,1575,4500,1550,370,3900
DISPFROM,2012-03-26 12:00:00,2012-01-14 12:00:00,2012-03-08 12:00:00,2012-03-27 12:00:00,2012-04-01 12:00:00
DISPEND,2012-03-30 12:00:00,2012-01-17 12:00:00,2012-03-13 12:00:00,2012-03-31 12:00:00,2012-04-06 12:00:00
DISPPERIOD,4,3,5,4,5
VALIDFROM,NaN,2012-01-18,2012-03-14,2012-04-01,2012-04-07
VALIDEND,NaN,2012-04-07,2012-09-08,2012-09-26,2012-10-02
VALIDPERIOD,NaN,80,178,178,178
USABLE_DATE_MON,NaN,1,1,1,1
USABLE_DATE_TUE,NaN,1,1,1,0
USABLE_DATE_WED,NaN,1,1,1,2
USABLE_DATE_THU,NaN,1,1,1,1
USABLE_DATE_FRI,NaN,1,1,1,1
USABLE_DATE_SAT,NaN,1,1,1,1
USABLE_DATE_SUN,NaN,1,1,1,1
USABLE_DATE_HOLIDAY,NaN,1,1,1,1
USABLE_DATE_BEFORE_HOLIDAY,NaN,1,1,1,1
large_area_name,関東,関東,関東,関東,関東
ken_name,東京都,東京都,東京都,東京都,東京都
small_area_name,新宿・高田馬場・中野・吉祥寺,渋谷・青山・自由が丘,銀座・新橋・東京・上野,渋谷・青山・自由が丘,新宿・高田馬場・中野・吉祥寺
REG_DATE,2012-03-28 14:14:18,2011-05-18 00:41:48,2011-05-18 00:41:48,2011-05-18 00:41:48,2011-05-18 00:41:48
SEX_ID,f,f,f,f,f
AGE,25,34,34,34,34
WITHDRAW_DATE,NaN,NaN,NaN,NaN,NaN
PREF_NAME,NaN,東京都,東京都,東京都,東京都

In [80]:
# data structure
user_purchase = {}
for idx in coupon_detail_train.index:
    user_id = coupon_detail_train.ix[idx, 'USER_ID_hash']
    coupon_id = coupon_detail_train.ix[idx, 'COUPON_ID_hash']
    
    if user_purchase.get(user_id) is None:
        user_purchase[user_id] = []
    user_purchase[user_id].append(coupon_id)

## Test Zone

In [70]:
lists_test.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CAPSULE_TEXT,310,17,宅配,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GENRE_NAME,310,12,宅配,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRICE_RATE,310,NaN,NaN,NaN,60.60323,11.1373,50,50,57,70,95
CATALOG_PRICE,310,NaN,NaN,NaN,13651.67,17563.94,500,4010,7875,14707.5,149700
DISCOUNT_PRICE,310,NaN,NaN,NaN,4698.552,5436.667,100,1792.5,2980,5187.5,39800
DISPFROM,310,8,2012-06-26 12:00:00,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DISPEND,310,12,2012-06-30 12:00:00,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DISPPERIOD,310,NaN,NaN,NaN,4.487097,1.335898,2,4,4,5,13
VALIDFROM,214,24,2012-07-02,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VALIDEND,214,69,2012-09-30,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VALIDPERIOD,214,NaN,NaN,NaN,118.0654,41.16229,0,89.25,119,151,178
USABLE_DATE_MON,209,NaN,NaN,NaN,0.9330144,0.2864085,0,1,1,1,2
USABLE_DATE_TUE,209,NaN,NaN,NaN,0.9282297,0.3663978,0,1,1,1,2
USABLE_DATE_WED,209,NaN,NaN,NaN,0.9952153,0.1549692,0,1,1,1,2
USABLE_DATE_THU,209,NaN,NaN,NaN,0.9760766,0.1531776,0,1,1,1,1
USABLE_DATE_FRI,209,NaN,NaN,NaN,1.014354,0.2495856,0,1,1,1,2
USABLE_DATE_SAT,209,NaN,NaN,NaN,1.124402,0.5493245,0,1,1,1,2
USABLE_DATE_SUN,209,NaN,NaN,NaN,0.937799,0.4054401,0,1,1,1,2
USABLE_DATE_HOLIDAY,209,NaN,NaN,NaN,0.9473684,0.3948043,0,1,1,1,2
USABLE_DATE_BEFORE_HOLIDAY,209,NaN,NaN,NaN,1.086124,0.5116422,0,1,1,1,2
large_area_name,310,9,関東,153,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ken_name,310,34,東京都,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
small_area_name,310,42,銀座・新橋・東京・上野,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUPON_ID_hash,310,310,2bfb0ce2886e31ae8e768feb4caa13bc,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
users.describe(include='all')

,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE,PREF_NAME,USER_ID_hash
count,22873,22873,22873.000000,922,15617,22873
unique,22842,2,NaN,919,47,22873
top,2011-10-24 17:00:11,m,NaN,2012-05-10 15:26:23,東京都,58d250b05d2b03c755417ddaaca052a0
freq,2,11890,NaN,2,2830,1
mean,NaN,NaN,42.497836,NaN,NaN,NaN
std,NaN,NaN,11.843465,NaN,NaN,NaN
min,NaN,NaN,15.000000,NaN,NaN,NaN
25%,NaN,NaN,33.000000,NaN,NaN,NaN
50%,NaN,NaN,41.000000,NaN,NaN,NaN
75%,NaN,NaN,51.000000,NaN,NaN,NaN
max,NaN,NaN,80.000000,NaN,NaN,NaN